:root {
    --mainColor: #001845;
    --secondaryColor: #002855;

    --borderColor: #0353a4;

    --mainText: #ecf8f8;
    --secondaryText: #eee4e1;

    --themeDotBorder: #7d8597;

    --previewBg: rgba(0,24,69,0.8);
    --previewShadow: #001233;

    --buttonColor: #001233;
}